---
---

@import "{{ site.theme }}";


a:link { color: rgb(255,72,0); }
a:visited { color: rgb(255,72,0); }
a:hover { color: rgb(255,72,0); }
a:active { color: rgb(255,72,0); }


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  font-color: white;
border-radius: 12px;
  cursor: pointer;
}

.button a:link { color: #FFF; text-decoration:none; font-weight:normal; }
.button a:visited { color:  #FFF; text-decoration:none; font-weight:normal; }
.button a:hover { color: #FFF; text-decoration:underline; font-weight:normal; }
.button a:active { color: #FFF; text-decoration:none; font-weight:normal; }

.button1 { background-color: rgb(255,72,0); } /* Gray */ 
.button2 { background-color: rgb(183,216,233);  } /* Blue */
.button2 { background-color: #83B4B3; } /* Blue */
.button3 { background-color: rgb(33,110,185);  } /* Red */ 
.button5  {background-color: #555555;} /* Black */

